@font-face{
    font-family: 'PerfectDOSVGA';
    src: url('/fonts/PerfectDOSVGA437.ttf') format('truetype');

}
body{
    font-family: 'PerfectDOSVGA', monospace;
    background-color: black;
    overflow: hidden;
}
#logo{
    position: fixed;
    top: 15px;
    right: 15px;
}
#blueguy{
    position: fixed;
    top: 10px;
    left: 10px;
}
#text{
    margin-top: 35px;
    margin-left:60px;
}
p{
    color: antiquewhite;
}
.enter{
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}
#click_enter {
    position: fixed;
    bottom: 20px;
    left: 30px;
}

#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #nineth, #tenth {
    opacity: 0;
}
#blueguy, #initial, #click_enter, #logo{
    opacity:0;
    transition: opacity 0.3s ;
}
#pulsing-underscore {
    opacity:0;
    animation: pulse 0.4s infinite ease-in-out;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
}
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

